<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Welcome to our chatbot! Our chatbot is a cutting-edge artificial intelligence (AI) tool designed to help you interact with your customers, improve your customer service, and increase your business productivity. Our chatbot is built using Python and is powered by the latest natural language processing (NLP) technology, making it capable of understanding and responding to a wide range of customer queries and requests.">

	<!-- title -->
	<title>Documentation</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/img/logo.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

	<!-- mean menu css -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main style -->
	<link id="theme-style" rel="stylesheet" href="static/css/doc.css">
	<link rel="stylesheet" href="static/css/styles.css">

	<!-- bootstrap icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" style="background-color: #2d2d2d;" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img width="48" src="static/img/logo.png" alt="">
								<h3 style="color:aliceblue;">Chat Neuron</h3>
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/documentation">Doc</a></li>
								<li><a href="/dashboard">API</a></li>
								<li><a href="/upload">Train Bot</a></li>
								<li class="login-btn btn"><a href="/login">Login</a></li>
							</ul>
						</nav>
						<!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->
						<!-- <div class="mobile-menu"></div> -->
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<div class="docs-wrapper">
		<div id="docs-sidebar" class="docs-sidebar">
			<div class="top-search-box d-lg-none p-3">
				<form class="search-form">
					<input type="text" placeholder="Search the docs..." name="search" class="form-control search-input">
					<button type="submit" class="btn search-btn" value="Search"><i class="fas fa-search"></i></button>
				</form>
			</div>
			<nav id="docs-nav" class="docs-nav navbar">
				<ul class="section-items list-unstyled nav flex-column pb-3">
					<li class="nav-item section-title"><a class="nav-link scrollto active" href="#section-1"><span
								class="theme-icon-holder me-2"><i class="fas fa-map-signs"></i></span>Introduction</a>
					</li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-1-1">Prerequisites</a></li>
					<li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-2"><span
								class="theme-icon-holder me-2"><i class="fas fa-arrow-down"></i></span>Installation</a>
					</li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-2-1">Installation</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-2-2">Usage</a></li>
					<li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-3"><span
								class="theme-icon-holder me-2"><i class="fas fa-box"></i></span>API Reference</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-3-1">Chatbot</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-3-2">Configuration</a></li>
					<li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-4"><span
								class="theme-icon-holder me-2"><i class="fas fa-cogs"></i></span>Integrations</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-4-1">Installation</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-4-2">Usage</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-4-3">Example Applications</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-4-4">Additional Resources</a></li>
					<li class="nav-item section-title mt-3"><a class="nav-link scrollto" href="#section-5"><span
								class="theme-icon-holder me-2"><i class="fas fa-lightbulb"></i></span>FAQs</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-5-1">About Our Library</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-5-2">Report Bug</a></li>
					<li class="nav-item"><a class="nav-link scrollto" href="#item-5-3">Support</a></li>
				</ul>

			</nav><!--//docs-nav-->
		</div><!--//docs-sidebar-->
		<div class="docs-content">
			<div class="container">
				<article class="docs-article" id="section-1">
					<header class="docs-header">
						<h1 class="docs-heading">Getting Started with Chat-Neuron <span class="docs-time">Last updated:
								04-03-2023</span></h1>
						<p>Chat-Neuron is a Python library for building chatbots. With Chat-Neuron you can train a
							chatbot model based on your own data and generate responses to user inputs in your python
							application.</p>
					</header>
					<section class="docs-section" id="item-1-1">
						<h2 class="section-heading">Prerequisites</h2>
						<p>Before you can start using Chat-Neuron, you'll need to make sure you have the following
							installed on your system</p>
						<br>
						<ul>
							<li><strong class="me-1">Python 3.6 or higher</li>
							<li><strong class="me-1">pip (the Python package manager)</li>
						</ul>
						<br>
						<p>You can check if you have Python and pip installed by opening a command prompt (Windows) or
							terminal (Mac/Linux) and running the following commands</p>
						<ul>
							<li>for python version check code:
								<pre><code>python --version</code></pre>
							</li>
							<li>for pip version check code:
								<pre><code>pip --version</code></pre>
							</li>
						</ul>
						<br>
						<p>If both of these commands return a version number, you're ready to install Chat-Neuron.</p>
					</section><!--//section-->

				</article>

				<article class="docs-article" id="section-2">
					<header class="docs-header">
						<h1 class="docs-heading">Installation</h1>
						<section class="docs-intro">
							<p>Before you use this library file into your application you need to install this library
								file into your application.</p>
						</section><!--//docs-intro-->
					</header>
					<section class="docs-section" id="item-2-1">
						<h2 class="section-heading">Pip Installation</h2>
						<p>To install Chat-Neuron, open a command prompt (Windows) or terminal (Mac/Linux) and run the
							following command</p>
						<ul>
							<li>code to install the library:
								<pre><code>pip install ChatNeuron</code></pre>
							</li>
						</ul>
						<p>This will download and install Chat-Neuron and its dependencies.</p>
					</section><!--//section-->

					<section class="docs-section" id="item-2-2">
						<h2 class="section-heading">Usage</h2>
						<p>Once you have Chat-Neuron installed, you can start using it in your Python application.
							Here's an example of how to train a chatbot model and generate a response</p>
						<h4>Example code:</h4>
						<pre>
							<code>
from ChatNeuron import Chatbot
import pandas as pd

# Prepare training data in CSV format
training_data = pd.read_csv('location of your csv dataset file')

# Create a Chatbot instance and train the model
chatbot = Chatbot()
chatbot.train(training_data)

# Generate a response to user input
user_input = "What is your name?"
response = chatbot.generate_response(user_input)

print(response)
							</code>
						</pre>
						<br>
						<p>This code creates a chatbot instance, trains it on the provided training data, and generates
							a response to a user input. You can customize the behavior of the chatbot by adjusting its
							parameters, such as the confidence threshold for response generation.</p>
						<p>That's it! You're now ready to start building chatbots with Chat-Neuron. For more detailed
							information on how to use Chat-Neuron, check out the API reference and examples sections of
							the documentation.</p>
					</section><!--//section-->

				</article><!--//docs-article-->

				<article class="docs-article" id="section-3">
					<header class="docs-header">
						<h1 class="docs-heading">API Reference</h1>
						<section class="docs-intro">
							<p>"Here you can see a clear explanation of the methods."</p>
						</section><!--//docs-intro-->
					</header>
					<section class="docs-section" id="item-3-1">
						<h2 class="section-heading">Chatbot</h2>
						<pre><code>Chatbot()</code></pre>
						<p>Creates a new `Chatbot` instance.</p>
						<h4>Parameters</h4>
						<p>None</p>
						<h4>Returns</h4>
						<p>A new Chatbot instance.</p>
						<br>
						<pre><code>train(training_data: List[Tuple[str, str]])</code></pre>
						<p>Trains the chatbot model on the provided training data.</p>
						<h4>Parameters</h4>
						<p>training_data (List[Tuple[str, str]]): A list of training examples, where each example is a
							tuple of a user input and its corresponding response. Or you can able to add your CSV file
							to train your model.</p>
						<h4>Returns</h4>
						<p>None</p>
						<br>
						<pre><code>generate_response(user_input: str)</code></pre>
						<p>Generates a response to a user input based on the trained chatbot model.</p>
						<h4>Parameters</h4>
						<p>user_input (str): The user input to generate a response for.</p>
						<h4>Returns</h4>
						<p>A string containing the chatbot's response to the user input.</p>
						<br>
					</section><!--//section-->

					<section class="docs-section" id="item-3-2">
						<h2 class="section-heading">Configuration</h2>
						<pre><code>set_confidence_threshold(threshold: float)</code></pre>
						<p>Sets the confidence threshold for response generation. Responses with a confidence score
							below this threshold will not be generated.</p>
						<h4>Parameters</h4>
						<p>threshold (float): The confidence threshold, between 0 and 1.</p>
						<h4>Returns</h4>
						<p>None</p>
						<br>
						<pre><code>set_response_limit(limit: int)</code></pre>

						<p>Sets the maximum number of responses to generate for a single user input. If there are
							multiple possible responses with confidence scores above the threshold, up to limit
							responses will be returned.</p>

						<h4>Parameters</h4>
						<p>limit (int): The maximum number of responses to generate.</p>
						<h4>Returns</h4>
						<p>None</p>
						<br>
						<p>That's it! These are the main functions and configuration options available in Chat-Neuron.
							For more detailed information on how to use Chat-Neuron, check out the examples section of
							the documentation.</p>
						<br>
					</section><!--//section-->
				</article><!--//docs-article-->

				<article class="docs-article" id="section-4">
					<header class="docs-header">
						<h1 class="docs-heading">Intergrations</h1>
						<section class="docs-intro">
							<p>Integrating Chat-Neuron into your Python application is simple and straightforward.
								Here's how to get started:</p>
						</section><!--//docs-intro-->
					</header>
					<section class="docs-section" id="item-4-1">
						<h2 class="section-heading">Installation</h2>
						<ul>
							<li>code to install the library:
								<pre><code>pip install ChatNeuron</code></pre>
							</li>
						</ul>
					</section><!--//section-->

					<section class="docs-section" id="item-4-2">
						<h2 class="section-heading">Usage</h2>
						<h4>Example code:</h4>
						<pre>
							<code>
from ChatNeuron import Chatbot
import pandas as pd

# Prepare training data in CSV format
training_data = pd.read_csv('location of your csv dataset file')

# Create a Chatbot instance and train the model
chatbot = Chatbot()
chatbot.train(training_data)

# Generate a response to user input
user_input = "What is your name?"
response = chatbot.generate_response(user_input)

print(response)
							</code>
						</pre>
						<br>
					</section><!--//section-->

					<section class="docs-section" id="item-4-3">
						<h2 class="section-heading">Example Applications</h2>
						<p>Chat-Neuron can be integrated into a wide range of Python applications. Here are some
							examples of how it could be used:</p>
						<ul>
							<li>A customer support chatbot for a website or application</li>
							<li>A chatbot for a virtual assistant or smart home device</li>
							<li>A chatbot for a social media messaging platform</li>
						</ul>
					</section><!--//section-->

					<section class="docs-section" id="item-4-4">
						<h2 class="section-heading">Additional Resources</h2>
						<p>For more detailed information on how to integrate Chat-Neuron into your Python application,
							check out the API reference section of the documentation. If you encounter any issues or
							have any questions, feel free to open an issue on our GitHub repository or reach out to our
							support team.</p>
					</section><!--//section-->

				</article><!--//docs-article-->

				<article class="docs-article" id="section-5">
					<header class="docs-header">
						<h1 class="docs-heading">FAQs</h1>
					</header>
					<section class="docs-section" id="item-5-1">
						<h2 class="section-heading">About Our Library</h2>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>What is Chat-Neuron?</h5>
						<p>Chat-Neuron is an open-source Python library for creating and integrating chatbots into your
							applications. It provides a simple and easy-to-use API for training and generating responses
							from chatbots using Deap Learning Techniques.</p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>What programming languages does
							Chat-Neuron support?</h5>
						<p>Chat-Neuron is designed specifically for use with Python, and supports Python 3.5 and higher.
						</p>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How do I install Chat-Neuron?</h5>
						<p>To install Chat-Neuron, simply use pip, the Python package manager:</p>
						<pre><code>pip install ChatNeuron</code></pre>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How do I train a chatbot using
							Chat-Neuron?</h5>
						<p>To train a chatbot using Chat-Neuron, you'll need to provide a dataset of example
							conversations. This can be in the form of a CSV file or a Python list of tuples. Here's an
							example of how to train a chatbot:</p>
						<pre>
							<code>
from ChatNeuron import Chatbot
import pandas as pd

training_data = pd.read_csv('location of your csv dataset file')

chatbot = Chatbot()
chatbot.train(training_data)
							</code>
						</pre>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How do I generate a response from a
							trained chatbot?</h5>
						<p>To generate a response from a trained chatbot, simply call the 'generate_response' method
							with the user's input. Here's an example:</p>
						<pre><code>
user_input = "What is your name?"
response = chatbot.generate_response(user_input)

print(response)
						</code></pre>
					</section><!--//section-->

					<section class="docs-section" id="item-5-2">
						<h2 class="section-heading">Report Bug</h2>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>How can I contribute to Chat-Neuron?
						</h5>
						<p>We welcome contributions from the community! You can contribute to Chat-Neuron by submitting
							bug reports, feature requests, or code contributions via GitHub. Check out the
							"Contributing" section of the documentation for more information on how to get started.</p>
					</section><!--//section-->

					<section class="docs-section" id="item-5-3">
						<h2 class="section-heading">Support</h2>
						<h5 class="pt-3"><i class="fas fa-question-circle me-1"></i>Where can I get help or support for
							Chat-Neuron?</h5>
						<p>If you encounter any issues or have any questions, feel free to open an issue on our GitHub
							repository or reach out to our support team. We're happy to help!</p>
					</section><!--//section-->
				</article><!--//docs-article-->
			</div>
			<footer id="footer" class="footer-1">
				<div class="main-footer widgets-dark typo-light">
					<div class="container">
						<div class="row">

							<div class="col-xs-12 col-sm-6 col-md-3">
								<div class="widget subscribe no-box">
									<h5 class="widget-title">CHAT NEURON<span></span></h5>
									<p>A Python library for integrating Chat-Bot in your application.</p>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3">
								<div class="widget no-box">
									<h5 class="widget-title">Quick Links<span></span></h5>
									<ul class="thumbnail-widget">
										<li>
											<div class="thumb-content"><a href="#.">Get Started</a></div>
										</li>
										<li>
											<div class="thumb-content"><a href="#.">Documentation</a></div>
										</li>
										<li>
											<div class="thumb-content"><a href="#.">Api</a></div>
										</li>
										<li>
											<div class="thumb-content"><a href="#.">Tutorial</a></div>
										</li>
										<li>
											<div class="thumb-content"><a href="#.">Blog</a></div>
										</li>
										<li>
											<div class="thumb-content"><a href="#.">Community</a></div>
										</li>
										<li>
											<div class="thumb-content"><a href="#.">About</a></div>
										</li>
									</ul>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3">
								<div class="widget no-box">
									<h5 class="widget-title">Get Started<span></span></h5>
									<p>Start developing now</p>
									<a class="btn" href="/register" target="_blank">Register Now</a>
								</div>
							</div>

							<div class="col-xs-12 col-sm-6 col-md-3">

								<div class="widget no-box">
									<h5 class="widget-title">Contact Us<span></span></h5>

									<p><a href="mailto:info@domain.com" title="glorythemes">info@techcreed.com</a>
									</p>
									<ul class="social-footer2">
										<li class=""><a title="GitHub" target="_blank"
												href="https://github.com/tech-creed/Chat-Neuron"><i
													class="fa-brands fa-github  fa-2x"></i></a></li>
										<li class=""><a href="https://www.facebook.com/" target="_blank"
												title="Facebook"><i class="fa-brands fa-stack-overflow fa-2x"></i></a>
										</li>
										<li class=""><a href="https://twitter.com" target="_blank" title="Twitter"><i
													class="fa-brands fa-facebook fa-2x"></i></a></li>
										<li class=""><a title="instagram" target="_blank"
												href="https://www.instagram.com/"><i
													class="fa-brands fa-twitter fa-2x"></i></a></li>
									</ul>
								</div>
							</div>

						</div>
					</div>
				</div>

				<div class="footer-copyright">
					<div class="container">
						<div class="row">
							<div class="col-md-12 text-center">
								<p>Copyright Tech Creed © 2023. All rights reserved.</p>
							</div>
						</div>
					</div>
				</div>
			</footer>
		</div>
	</div>
		<!-- jquery -->
		<script src="static/js/jquery-1.11.3.min.js"></script>
		<!-- bootstrap -->
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
		<script src="static/js/main.js"></script>

		<!-- Javascript -->
		<script src="static/plugins/popper.min.js"></script>

		<!-- Page Specific JS -->
		<script src="static/plugins/smoothscroll.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.8/highlight.min.js"></script>
		<script src="static/js/highlight-custom.js"></script>
		<script src="static/plugins/simplelightbox/simple-lightbox.min.js"></script>
		<script src="static/plugins/gumshoe.polyfills.min.js"></script>
		<script src="static/js/docs.js"></script>

		<script src="https://kit.fontawesome.com/5fe2f4c2ef.js" crossorigin="anonymous"></script>
</body>

</html>