<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description"
		content="Welcome to our chatbot! Our chatbot is a cutting-edge artificial intelligence (AI) tool designed to help you interact with your customers, improve your customer service, and increase your business productivity. Our chatbot is built using Python and is powered by the latest natural language processing (NLP) technology, making it capable of understanding and responding to a wide range of customer queries and requests.">

	<!-- title -->
	<title>Home</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="static/img/logo.png">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">

	<!-- bootstrap -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">

	<!-- mean menu css -->
	<link rel="stylesheet" href="static/css/meanmenu.min.css">
	<!-- main style -->
	<link rel="stylesheet" href="static/css/styles.css">

	<!-- bootstrap icon -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

	<link rel="stylesheet"
		href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/atom-one-dark.min.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>

</head>

<body>

	<!--PreLoader-->
	<div class="loader">
		<div class="loader-inner">
			<div class="circle"></div>
		</div>
	</div>
	<!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="/">
								<img width="48" src="static/img/logo.png" alt="">

								<h3 style="color:aliceblue;">Chat Neuron</h3>
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li><a href="/">Home</a></li>
								<li><a href="/documentation">Doc</a></li>
								<li><a href="/dashboard">API</a></li>
								<li><a href="/upload">Train Bot</a></li>
								<li class="login-btn btn"><a href="/login">Login</a></li>
							</ul>
						</nav>
						<!-- <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->
						<!-- <div class="mobile-menu"></div> -->
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- hero area -->
	<div class="hero-area hero-bg" id="docs">
		<div class="container">
			<div class="row">
				<div class="col-lg-9 offset-lg-2 text-center">
					<div class="hero-text">
						<div class="hero-text-tablecell">
							<h1>Chat-Neuron</h1>
							<p class="subtitle">A Python library for integrating a chatbot into your application</p>

							<div class="hero-btns">
								<a href="/register" class="boxed-btn">Get Started!</a>
								<a href="/documentation" class="bordered-btn">Documentation</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end hero area -->
	<!-- Services-->
	<section class="page-section" id="services">
		<div class="container">
			<div class="row text-center">
				<div class="col-md-4">
					<img src="static/img/integration.png" alt="integration">
					<h4 class="my-3">Multiple integrations</h4>
					<p class="text-muted">integrate with different APIs, such as social media platforms, chat
						applications.</p>
				</div>
				<div class="col-md-4">
					<img src="static/img/custom.png" alt="customizable">
					<h4 class="my-3">Customizable responses</h4>
					<p class="text-muted">enable users to customize the responses that the chatbot provides to suit
						their specific needs.</p>
				</div>
				<div class="col-md-4">
					<img src="static/img/open-source.png" alt="open source">
					<h4 class="my-3">Open-source</h4>
					<p class="text-muted">open-source, allowing users to contribute to the project and improve the
						library over time.</p>
				</div>
			</div>
		</div>
	</section>

	<section class="page-section" id="about">
		<div class="container">
			<div class="text-center">
				<h2 class="section-heading text-uppercase">Process Flow</h2>
				<h3 class="section-subheading text-muted">Workflow of Our Library</h3>
			</div>
			<ul class="timeline">
				<li>
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="static/img/about/1.png"
							alt="..." /></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>Integrate the library</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">Developers can integrate the chatbot library with their application
								using the appropriate API or library.</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="static/img/about/2.png"
							alt="..." /></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>Upload CSV File</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">The user can upload a CSV file containing training data (Questions &
								Answers) for the chatbot to the application and using Deap Learning Techniques to train
								a chatbot model based on the user-provided training data.</p>
						</div>
					</div>
				</li>
				<li>
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="static/img/about/3.jpg"
							alt="..." /></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>NLP & Deap Learning Process</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">The backend process involves applying Natural Language Processing
								(NLP) techniques to preprocess user inputs, and using Deep Learning Techniques to
								generate appropriate responses</p>
						</div>
					</div>
				</li>
				<li class="timeline-inverted">
					<div class="timeline-image"><img class="rounded-circle img-fluid" src="static/img/about/4.jpg"
							alt="..." /></div>
					<div class="timeline-panel">
						<div class="timeline-heading">
							<h4>Response returned to the chat interface</h4>
						</div>
						<div class="timeline-body">
							<p class="text-muted">Developers use the chatbot library to generate responses to user
								inputs in their application.</p>
						</div>
					</div>
				</li>
			</ul>
		</div>
	</section>


	<section class="code-section">
		<h1 class="code-h1">Code Examples</h1>

		<div class="code-container">
			<div class="code-block">
				<h3>Install the module</h3>
				<p>Pip Install the Chat Neuron Module</p>
				<pre><code class="javascript">
pip install ChatNeuron==1.1
			</code></pre>
			</div>

			<div class="code-block">
				<h3>Import Required Modules</h3>
				<p>Tensorflow is backend module need to import them</p>
				<pre><code class="javascript">
import numpy as np
from tensorflow.keras import preprocessing
			</code></pre>
			</div>

			<div class="code-block">
				<h3>Train your chatbot</h3>
				<p>By calling one function with required parameters is enough,</p>
				<pre><code class="html">
tokenizer, encoder_model, decoder_model, maxlen_questions, maxlen_answers = chatNeuron.build_chatbot(csvFilePath, batch, epoch, savepath)
</code></pre>

</section>

	<footer id="footer" class="footer-1">
		<div class="main-footer widgets-dark typo-light">
		<div class="container">
		<div class="row">
		  
		<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="widget subscribe no-box">
		<h5 class="widget-title">CHAT NEURON<span></span></h5>
		<p>A Python library for integrating Chat-Bot in your application.</p>
		</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="widget no-box">
		<h5 class="widget-title">Quick Links<span></span></h5>
		<ul class="thumbnail-widget">
		<li>
		<div class="thumb-content"><a href="#.">Get Started</a></div> 
		</li>
		<li>
		<div class="thumb-content"><a href="#.">Documentation</a></div> 
		</li>
		<li>
		<div class="thumb-content"><a href="#.">Api</a></div> 
		</li>
		<li>
		<div class="thumb-content"><a href="#.">Tutorial</a></div> 
		</li>
		<li>
		<div class="thumb-content"><a href="#.">Blog</a></div>  
		</li>
		<li>
		<div class="thumb-content"><a href="#.">Community</a></div> 
		</li>
		<li>
		<div class="thumb-content"><a href="#.">About</a></div> 
		</li>
		</ul>
		</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="widget no-box">
		<h5 class="widget-title">Get Started<span></span></h5>
		<p>Start developing now</p>
		<a class="btn" href="/register" target="_blank">Register Now</a>
		</div>
		</div>
		
		<div class="col-xs-12 col-sm-6 col-md-3">
		
		<div class="widget no-box">
		<h5 class="widget-title">Contact Us<span></span></h5>
		
		<p><a href="mailto:info@domain.com" title="glorythemes">info@techcreed.com</a></p>
		<ul class="social-footer2">
		<li class=""><a title="GitHub" target="_blank" href="https://github.com/tech-creed/Chat-Neuron"><i class="fa-brands fa-github  fa-2x"></i></a></li>
		<li class=""><a href="https://www.facebook.com/" target="_blank" title="Facebook"><i class="fa-brands fa-stack-overflow fa-2x"></i></a></li>
		<li class=""><a href="https://twitter.com" target="_blank" title="Twitter"><i class="fa-brands fa-facebook fa-2x"></i></a></li>
		<li class=""><a title="instagram" target="_blank" href="https://www.instagram.com/"><i class="fa-brands fa-twitter fa-2x"></i></a></li>
		</ul>
		</div>
		</div>
		
		</div>
		</div>
		</div>
		  
		<div class="footer-copyright">
		<div class="container">
		<div class="row">
		<div class="col-md-12 text-center">
		<p>Copyright Tech Creed © 2023. All rights reserved.</p>
		</div>
		</div>
		</div>
		</div>
		</footer>

		<!-- jquery -->
	<script src="static/js/jquery-1.11.3.min.js"></script>
	<!-- bootstrap -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

	<script src="https://kit.fontawesome.com/5fe2f4c2ef.js" crossorigin="anonymous"></script>

	<script src="static/js/main.js"></script>
</body>

</html>